* {
  box-sizing: border-box;
  overflow-x: hidden; }

body {
  margin: 0;
  padding: 0;
  transition: 0.4s;
  font-family: 'Tajawal', sans-serif; }
  body a {
    text-decoration: none; }
  body ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }

header nav {
  background: black; }
  header nav .menu {
    display: flex;
    margin: auto;
    width: 1900px;
    height: 60px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-family: 'Fjalla One', sans-serif;
    color: gray; }
    header nav .menu li {
      margin: 0 15px; }
    header nav .menu a {
      color: white; }
      header nav .menu a:hover {
        text-decoration: underline; }
    header nav .menu .logo img {
      width: 70px; }
    header nav .menu #menu-btn {
      margin-right: auto;
      font-size: 40px;
      cursor: pointer;
      visibility: hidden; }
    header nav .menu #search-btn {
      margin-left: auto;
      font-size: 30px;
      cursor: pointer; }

header .responsive {
  display: block !important; }

header #searchbar {
  display: none;
  height: 70px;
  background: white;
  margin: auto;
  border-bottom: solid black 1px; }
  header #searchbar input {
    display: block;
    margin: auto;
    width: 1070px;
    height: 100%;
    font-size: 20px;
    border: none;
    outline: none; }

#sidenav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: black;
  visibility: hidden; }
  #sidenav img {
    object-fit: cover;
    width: 100%;
    height: 100%; }
  #sidenav ul {
    padding: 40px 0 0 40px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px; }
    #sidenav ul a {
      color: white; }
      #sidenav ul a:hover {
        text-decoration: underline; }
    #sidenav ul li {
      padding: 10px 0; }
  #sidenav #menu-search {
    height: 40px;
    margin-top: 25px;
    z-index: 1; }
    #sidenav #menu-search input {
      display: block;
      margin: auto;
      width: 250px;
      height: 100%;
      font-size: 20px; }
  #sidenav .close-btn {
    position: absolute;
    color: grey;
    top: 5px;
    padding: 10px;
    right: 20px;
    font-size: 25px;
    margin-left: 50px; }
    #sidenav .close-btn:hover {
      color: white; }

.wrapper {
  width: 1200px;
  margin: 0 auto; }
  .wrapper .main-column {
    padding: 0 15px;
    max-width: 70%; }
    .wrapper .main-column h1 {
      border-bottom: 1px solid rgba(114, 114, 114, 0.219);
      padding-bottom: 30px;
      margin-bottom: 0; }
    .wrapper .main-column article {
      min-height: 160px;
      padding: 8px 0 3px 0;
      position: relative;
      padding: 30px 0;
      border-bottom: 1px solid rgba(114, 114, 114, 0.219); }
      .wrapper .main-column article .minipic {
        float: left;
        margin-right: 10px; }
        .wrapper .main-column article .minipic img {
          height: 130px;
          width: 190px; }
      .wrapper .main-column article .article-text h3 {
        letter-spacing: -0.03em;
        font-size: 160%;
        color: black;
        font-family: 'Fjalla One', sans-serif;
        font-weight: 600;
        margin: 0 0 0px 0; }
      .wrapper .main-column article .article-text p {
        font-size: 11pt; }
  .wrapper .promo {
    background: black;
    height: 500px;
    width: 320px;
    position: fixed;
    top: 95px;
    right: 360px;
    color: white;
    overflow: hidden;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    z-index: -3; }
    .wrapper .promo h2 {
      padding: 0 15px;
      margin-bottom: 30px; }
    .wrapper .promo span {
      border: 1px solid white;
      padding: 10px;
      cursor: pointer; }
      .wrapper .promo span:hover {
        background: rgba(196, 196, 196, 0.26); }

footer {
  background: #000;
  text-align: center;
  padding-top: 25px; }
  footer nav a {
    color: white;
    font-size: 14px;
    margin-left: 10px; }
    footer nav a:hover {
      border-bottom: 1px solid white; }
  footer ul {
    padding: 15px; }
    footer ul li {
      display: inline; }
      footer ul li .button {
        padding: 15px;
        font-size: 28px;
        color: white; }
        footer ul li .button:hover {
          color: #494949;
          border-radius: 50%; }

@media (max-width: 1900px) {
  .promo {
    display: none; } }

@media (max-width: 850px) {
  .wrapper {
    width: 100%; }
    .wrapper .main-column {
      max-width: 100%; } }

@media (max-width: 1330px) {
  #menu-btn {
    visibility: visible !important; }
  .navigation {
    display: none; } }
