* {
  box-sizing: border-box; 
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0; 
  transition: 0.4s;
  font-family: 'Tajawal', sans-serif;
  a {
    text-decoration: none; }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
}
  
header{
  nav {
    background: black;
    .menu {
      display: flex;
      margin: auto;
      width: 1900px;
      height: 60px;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      font-size: 20px;
      font-family: 'Fjalla One', sans-serif;
      color: gray;
      li {
        margin: 0 15px; 
      }
      a {
        color: white;
        &:hover {
          text-decoration: underline;
        }
      }
      .logo{
        img{
          width: 70px;
        }
      }
      #menu-btn {
        margin-right: auto;
        font-size: 40px;
        cursor: pointer;
        visibility: hidden;
      }
      #search-btn {
        margin-left: auto;
        font-size: 30px;
        cursor: pointer;
      }
    }
  }
  .responsive {
    display: block !important;
  }
  #searchbar {
    display: none;
    height: 70px;
    background: white;
    margin: auto;
    border-bottom: solid black 1px;
    input {
      display: block;
      margin: auto;
      width: 1070px;
      height: 100%;
      font-size: 20px;
      border: none;
      outline: none;
    }
  }
}

#sidenav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: black;
  visibility: hidden;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  ul{
    padding: 40px 0 0 40px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    a{
      color: white;
      &:hover{
        text-decoration: underline;
      }
    }
    li{
      padding: 10px 0;
    }
  }
  #menu-search {
    height: 40px;
    margin-top: 25px;
    z-index: 1;
    input {
      display: block;
      margin: auto;
      width: 250px;
      height: 100%;
      font-size: 20px;
    }
  }
  .close-btn {
    position: absolute;
    color: grey;
    top: 5px;
    padding: 10px;
    right: 20px;
    font-size: 25px;
    margin-left: 50px;
    &:hover {
      color: white;
    }
  }
}

.wrapper{
  width: 1200px;
  margin: 0 auto;
  .main-column{
    padding: 0 15px;
    max-width: 70%;
    h1{
      border-bottom: 1px solid rgba(114, 114, 114, 0.219);
      padding-bottom: 30px;
      margin-bottom: 0;
    }
    article{
      min-height: 160px;
      padding: 8px 0 3px 0;
      position: relative;
      padding: 30px 0;
      border-bottom: 1px solid rgba(114, 114, 114, 0.219);
      .minipic{
        float: left;
        margin-right: 10px;
        img{
          height: 130px;
          width: 190px;
        }
      }
      .article-text{
        h3{
          letter-spacing: -0.03em;
          font-size: 160%;
          color: black;
          font-family: 'Fjalla One', sans-serif;
          font-weight: 600;
          margin: 0 0 0px 0;
        }
        p{
          font-size: 11pt;
        }  
      }
    }
  }
  .promo{
    background: black;
    height: 500px;
    width: 320px;
    position: fixed;
    top: 95px;
    right: 360px;
    color: white;
    overflow: hidden;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    z-index: -3;
    h2{
      padding: 0 15px;
      margin-bottom: 30px;
    }
    span{
      border: 1px solid white;
      padding: 10px;
      cursor: pointer;
      &:hover{
        background: rgba(196, 196, 196, 0.26);
      }
    }
  }
}

footer {
  background: #000;
  text-align: center;
  padding-top: 25px;
  nav{
    a{
      color: white;
      font-size: 14px;
      margin-left: 10px;
      &:hover{
        border-bottom: 1px solid white;
      }
    }
  }
  ul{
    padding: 15px;
    li{
      display: inline;
      .button{
        padding: 15px;
        font-size: 28px;
        color: white;
        &:hover{
          color:#494949;
          border-radius: 50%; 
        }
      }
    }
  }
}

@media (max-width: 1900px){
  .promo{
    display: none;
  }
}
@media (max-width: 850px){
  .wrapper{
    width: 100%;
    .main-column{
      max-width: 100%;
    }
  }
}
@media (max-width: 1330px)
{
  #menu-btn {
    visibility: visible !important;
  }
  .navigation {
    display: none;
  }
}







  





